@-webkit-keyframes strobeText {
  0% {
    color: #5eaef3;
  }
  20% {
    color: #1df58a;
  }
  40% {
    color: #99f614;
  }
  60% {
    color: #da4938;
  }
  80% {
    color: #f518f2;
  }
  100% {
    color: #5eaef3;
  }
}
@keyframes strobeText {
  0% {
    color: #5eaef3;
  }
  20% {
    color: #1df58a;
  }
  40% {
    color: #99f614;
  }
  60% {
    color: #da4938;
  }
  80% {
    color: #f518f2;
  }
  100% {
    color: #5eaef3;
  }
}
aside.garbage-day {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 99;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
aside.garbage-day * {
  font-family: "Freckle Face", cursive;
}
aside.garbage-day figure {
  width: 290px;
}
aside.garbage-day figure img {
  display: block;
  width: 100%;
}
aside.garbage-day figcaption {
  font-size: 62px;
  text-align: right;
  position: absolute;
  right: 4%;
  bottom: 10%;
  -webkit-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
          transform: rotate(15deg);
  line-height: 100%;
  text-shadow: 2px 2px 0 black;
}
aside.garbage-day figcaption a {
  text-decoration: none;
  -webkit-animation: strobeText 6s infinite linear;
          animation: strobeText 6s infinite linear;
}
aside.garbage-day figcaption a:hover {
  text-decoration: underline;
}
aside.garbage-day .time-until {
  position: absolute;
  top: 18%;
  right: 26%;
  line-height: 35px;
  color: white;
  text-shadow: 2px 2px 0 black;
  text-align: center;
}
aside.garbage-day .time-until .count {
  font-size: 70px;
}
aside.garbage-day .time-until .measurement {
  font-family: "Noto Serif TC", serif;
}
aside.garbage-day .hide-albert {
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  top: 20%;
  right: 30%;
  font-family: "Noto Serif TC", serif;
}
aside.garbage-day.off-canvas {
  -webkit-transform: translateY(68%);
      -ms-transform: translateY(68%);
          transform: translateY(68%);
}
aside.garbage-day:hover {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
aside.garbage-day.today figure {
  width: 60vh;
}
aside.garbage-day.today figcaption {
  font-size: 6vw;
  display: block;
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  position: absolute;
  right: 17%;
  bottom: 0;
  width: 5em;
}
aside.garbage-day.today figcaption.alone {
  width: 90vw;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  bottom: 5vw;
  -webkit-transform: rotate(9deg);
      -ms-transform: rotate(9deg);
          transform: rotate(9deg);
  font-size: 10vw;
}