extends _layout.pug

block variables
  - var title = "Thanks for the donation."

block header
  +imageRow('lemon-header.jpg', 'thanks for the donation', 400)
      
      
block content
  +textRow(2.25)
    b(style="font-weight:bold;") Hi, it's Lemon.
  
  +textRow
    p This is a brief email I'm sending you to make sure you know that I appreciate your recent donation.
    p Ours is a show that we make because it's fun for us. Nobody's getting rich or famous off this thing, we're just spending a lot of our own free time making stuff we like, and it's cool that you like it enough to spend your own money on it.
    p So thanks for that.