extends layout.jade

block header
  tr
    td(bgcolor='#ffffff', width='100', align='left')
      img(alt='Thanks for the donation' src='#{baseURL}/lemon-header.jpg' width='600' height="400" style="height: auto; display: block;" border='0')
      
      
block content
  tr
    td(align='justify' style='border-left: 2px solid #aaa; padding-left:32px; padding-bottom: 12px; color: #333; font-family: #{font}; font-size: 28px; font-weight: 700; line-height: 32px')
      | Hi, it's Lemon.
  tr
    td(align="justify" style="border-left: 2px solid #aaa; padding-left:32px; padding-bottom: 0; color: #333; font-family:#{font}; font-size: 18px; font-weight: 300; line-height: 32px")
      p I was just checking my email and saw one telling me that you donated to the podcast and I thought "That was nice, I should make sure they get an email saying I appreciate the donation."
      //p At some point in the past, I got an email from PayPal saying that you donated to the podcast and I thought "That was nice, I should really send an email to that person saying that I appreciate their donation."
      //p Then I got distracted and did something else, like probably redesigning an icon again for no reason.
      p As it stands currently, we have the F Plus server pushing out 
        b 
          i 4 terabytes a month
        |  to listeners like yourself. Most of that data is episodes that take 2 hours to record and 3-6 hours to edit, then put up on a website which I've worked on more diligently and consistently than any other website in my life.
      p We do it because we love it. And we do it without ads.
      p So thank you for helping with that. It means a lot.