analytics/
assets/avatars
#panel/
#kirby/
crap/
backup/
site/accounts
site/cache
site/config/config.php
thumbs/
stripe/
json/


#content/
!site.txt

# Ignore all files in the podcasts directory
podcasts/*

# Except for specific files
!podcasts/logo5.png
!podcasts/logo_144.png

# Except for the chapters directory and its contents
!podcasts/chapters/
!podcasts/chapters/*