@mixin flex-container($align:stretch, $direction:row, $wrap:wrap) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  @if ($align != "stretch") {
    align-items: $align;
  }
}
i { font-style:italic; }


@mixin flex-item($basis, $grow:1, $shrink:1, $align:auto) {
  @if $grow == 0 {
    width:$basis;
    flex-basis: $basis;
  } @else {
    flex-basis: $basis;
  }
  flex-grow: $grow;
  flex-shrink: $shrink;
  align-self: $align;
}


body { font-family:'Lora', serif; }
h1 { font-size:4em; text-align:center; margin-top:1em; margin-bottom:2.5em; font-weight:bold; }
canvas { max-width:100%;
  position:relative;
  //width: 100%;
  //height:80vh !important;
}
p { padding:1.5em; opacity:0.85; }

.chart-grid { @include flex-container(); width:100%; max-width: 800px; margin-left: auto; margin-right: auto;
  .full { @include flex-item(100%, 0, 0); }
  .half { @include flex-item(50%); }
  .third { @include flex-item(33.33333%); }
  .quarter { @include flex-item(25%); }
  canvas { width: 100%; }
  p {  text-align:center; line-height: 150%;
    a { color:rgba(185,30,49,1); text-decoration: none;
      &:hover { text-decoration: underline; }
    }
  }
}

.comparison-table { border-collapse: collapse; margin-left: auto; margin-right: auto; 
  td { border:1px solid #bbb; padding: 0.25em 1em; }
  td.number { font-size:120%; text-align: center; }
  td.bigger { font-weight:700; }
  //td.logo-cell { width: 40px;}
  td:first-child { text-align: right; }
  .logo {
    &.site    { width: 42px; height: 42px; }
    &.browser, &.os { width: 24px; height: 24px; }
  }
  .flag { width:32px; height: 24px; }
}