<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".bz2" mimeType="application/x-octet-stream" />
            <mimeMap fileExtension=".bsp" mimeType="application/x-octet-stream" />
            <mimeMap fileExtension=".block" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".dmx" mimeType="application/octet-stream" />
        </staticContent>
        <directoryBrowse enabled="true" />
        <handlers>
            <remove name="PHP" />
            <add name="PHP" path="*.php" verb="*" modules="IsapiModule" scriptProcessor="C:\PHP\php5isapi.dll" resourceType="File" requireAccess="Script" preCondition="bitness32" />
        </handlers>
    </system.webServer>
</configuration>
