$z-sidebar:3;
$z-header:4;
$z-sharebox:5;
$z-homescreenbox:6;

$z-day-navigation:3;
$z-fist:4;
$z-sidebar:5;





$z-text-overlay:10;
$z-counter:11;
$z-battle:12;
$z-battle-vs:13;
$z-donation-goal:14;
$z-donation-list:15;