//NORMALIZE, GET DEFAULTS
@import "partials/_variables";
@import "partials/_mixins";
@import "partials/_extends";
@import "partials/_z-index";

//STUFF
.buy-buttons { display: block;
  button { display:inline-block; font-size: 0.9em; width:100%; font-family: $source; border: 2px solid $red; background-color: #fff; color: #c0282d; padding: 0.3em 1em; border-radius: 5em; cursor: pointer; font-weight:$normal; margin-bottom:0.3em; outline:none; width:auto;
    &:hover { background:$red; color:$white; }
    &[disabled] { opacity: 0.5; color:$black; background-color:rgba($black,0.1); border-color:rgba($black,0.6); cursor: default; }
    &.active { background:$black; color:$white; }
    .small { font-size:0.6em; }
  }
  h4 { margin-top: 1em; margin-bottom: 0.25em; }
  h6 { text-align: center; text-transform: lowercase; }
}

.paypal-buy-form { display:block; float: left; width:12em;
  select { -webkit-appearance:none; display: block; font-size:1rem; padding: 0.25em; border-radius: 5em; width:100%; }
  button { display: block; width: 100%; text-align: center; margin-top: 0.5em; font-size:125%; }
}

.hidden { display: none; }

.sticker-series { border-bottom: 1px solid $black; padding-bottom: 1em; margin-bottom: 1em; clear: both;
  .row {
    &.first { font-size:1.2em;  line-height:95%;  }
    &.second { font-size:0.75em; } 
  }
  
  // STICKER SUMMARY INFORMATION
  img.thumbnail { float: left; margin-right: 20px; }
  .series-name { font-weight: $bold; }
  .run:before { content: ' • '; }
  .remaining:before { content: ' • '; }
  .creator { font-style: italic; font-size:0.8em; }
  
  dd { padding-top: 10px; clear: both; }
  
  // FOOTER
  footer.add-your-own { color: #4e7f71; font-size: 0.65em; padding: .2em 1em; text-align: right; }
}

.merch-photos { margin-top:20px; clear: both; padding-top: 1.2em;
  dt { font-weight:$normal; font-size:1em; color:$teal; cursor: pointer;
    &:after { content: 'SEE PHOTOS'; padding: 0.2em 1em; border:2px solid $teal; }
    &:hover:after { background-color:$yellow; }
    &.active { 
      &:after { content: 'HIDE PHOTOS'; background-color:$teal; color:$white; }
      &:hover:after { color:$yellow; }
    }
  }

  dd { display: none; padding:10px; text-align: left; border:2px solid $teal;
    img { display: inline; margin-bottom: 5px; }
  }
  // FOOTER
  footer.add-your-own { color: #4e7f71; font-size: 0.65em; padding: .2em 1em; text-align: right; }
}