/*
$body: #222;
$card: #000;
$copy: $white;
*/
body.login {
  background-size: cover;
  background-position: center;
  background-image: url("../images/suenami.jpg");
}
body.login form.form:before {
  display: block;
  content: " ";
  height: 60px;
  background: url("../svg/logo-modern.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 1.5rem;
}