@-webkit-keyframes skeleton {
  0% {
    -webkit-transform: skewX(-10deg) translateX(-100%);
            transform: skewX(-10deg) translateX(-100%);
  }
  100% {
    -webkit-transform: skewX(-10deg) translateX(200%);
            transform: skewX(-10deg) translateX(200%);
  }
}
@keyframes skeleton {
  0% {
    -webkit-transform: skewX(-10deg) translateX(-100%);
            transform: skewX(-10deg) translateX(-100%);
  }
  100% {
    -webkit-transform: skewX(-10deg) translateX(200%);
            transform: skewX(-10deg) translateX(200%);
  }
}
body.login {
  background-size: cover;
  background-position: center;
  background-image: url("../images/suenami.jpg");
}
body.login form.form:before {
  display: block;
  content: " ";
  height: 60px;
  background: url("../svg/logo-modern.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 1.5rem;
}