@-webkit-keyframes skeleton {
  0% {
    -webkit-transform: skewX(-10deg) translateX(-100%);
            transform: skewX(-10deg) translateX(-100%);
  }
  100% {
    -webkit-transform: skewX(-10deg) translateX(200%);
            transform: skewX(-10deg) translateX(200%);
  }
}
@keyframes skeleton {
  0% {
    -webkit-transform: skewX(-10deg) translateX(-100%);
            transform: skewX(-10deg) translateX(-100%);
  }
  100% {
    -webkit-transform: skewX(-10deg) translateX(200%);
            transform: skewX(-10deg) translateX(200%);
  }
}
.location-selector {
  font-size: 1.2rem;
  font-family: "Source Sans Pro", sans-serif;
  height: 3em;
  padding: 0.5em 1em;
  background: white;
}

.price-readout {
  margin-top: 1em;
  margin-bottom: 1rem;
  display: none;
  font-weight: 700;
}

.size-buttons {
  display: none;
}

ul.size-array {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  padding: 0 !important;
}
ul.size-array .cut {
  min-width: 6em;
  text-align: right;
}
ul.size-array .cut span {
  text-transform: uppercase;
  line-height: 90%;
  display: block;
}
ul.size-array .cut .size-chart-link {
  font-size: 80%;
  color: #c0282d;
}
ul.size-array li {
  list-style: none;
  padding-left: 0.25em;
  padding-right: 0.25em;
  padding-bottom: 1em;
}
ul.size-array button {
  background-color: #c0282d;
  color: #eee;
  border: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.25rem;
  padding: 0.5em 1em;
  font-weight: 700;
  cursor: pointer;
}
ul.size-array button:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
ul.size-array button:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}
ul.size-array button[disabled] {
  background-color: rgba(52, 52, 52, 0.5);
  color: #343434;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
ul.size-array button[disabled]:after {
  content: "sold out";
  font-size: 50%;
  display: block;
}

@media (max-width: 600px) {
  ul.size-array {
    margin-bottom: 0.5em;
    border-bottom: 1px solid rgba(52, 52, 52, 0.5);
  }
  ul.size-array button {
    font-size: 3vw;
  }
}