* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html,
body {
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

b,
strong {
  font-weight: bold;
}

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

ul,
ol {
  list-style: none;
}

li {
  display: list-item;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

sub,
sup,
small {
  font-size: 75%;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg {
  overflow: hidden;
}

/*
$body: #222;
$card: #000;
$copy: $white;
*/
@-webkit-keyframes skeleton {
  0% {
    -webkit-transform: skewX(-10deg) translateX(-100%);
            transform: skewX(-10deg) translateX(-100%);
  }
  100% {
    -webkit-transform: skewX(-10deg) translateX(200%);
            transform: skewX(-10deg) translateX(200%);
  }
}
@keyframes skeleton {
  0% {
    -webkit-transform: skewX(-10deg) translateX(-100%);
            transform: skewX(-10deg) translateX(-100%);
  }
  100% {
    -webkit-transform: skewX(-10deg) translateX(200%);
            transform: skewX(-10deg) translateX(200%);
  }
}
article.episode:after {
  content: "";
  display: table;
  clear: both;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion) {
  html {
    scroll-behavior: initial;
  }
}

body {
  background-color: #eee;
  color: #343434;
  font-family: "Noto Serif TC", serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  cursor: pointer;
  color: #c0282d;
}

b, strong {
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Serif TC", serif;
}

h1 {
  font-size: clamp(2.5rem, 4vw, 3.3rem);
  font-weight: 700;
}

h2 {
  font-size: clamp(2.15rem, 3.5vw, 2.8rem);
  font-weight: 300;
}

h3 {
  font-size: clamp(1.5rem, 3vw, 2.25rem);
  font-weight: 300;
}

h4 {
  font-size: clamp(1.25rem, 3.25vw, 2.25rem);
  font-weight: 400;
}

h5 {
  font-size: 1.25em;
  font-weight: 400;
}

h6 {
  font-size: 1em;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 105%;
}

ul {
  padding-left: 1.5em;
}
ul li {
  list-style-type: disc;
}

button.button {
  background-color: #c0282d;
  color: white;
  border: 1px solid #c0282d;
  padding: 1em 0.5em;
  font-weight: 600;
  font-size: 1rem;
  -webkit-box-shadow: 2px 2px 2px #343434;
          box-shadow: 2px 2px 2px #343434;
}
button.button:hover {
  color: #c0282d;
  background: white;
  cursor: pointer;
}
button.button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translate(2px, 2px);
      -ms-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
}

@media (min-width: 981px) {
  .mobile-only {
    display: none;
  }
}
@media (max-width: 980px) {
  .desktop-only {
    display: none;
  }
}
body {
  background-color: #eee;
  color: #343434;
}

.show-overview {
  background: #343434;
  color: #eee;
  margin-bottom: 2em;
  padding: 40px;
}
.show-overview .show-overview-inner {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 1em;
}
.show-overview h1 {
  font-size: 300%;
  margin-bottom: 0.5em;
}
.show-overview a[href] {
  color: #e8666a;
}
.show-overview p {
  margin-bottom: 0.5em;
}

section.episodes {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

article.episode {
  background: #fff;
  -webkit-box-shadow: 0 0 4px rgba(52, 52, 52, 0.2);
          box-shadow: 0 0 4px rgba(52, 52, 52, 0.2);
  padding: 20px;
  margin-bottom: 30px;
}
article.episode fon .title {
  font-size: 180%;
  margin-bottom: 0.5em;
}
article.episode time {
  display: block;
  margin-bottom: 0.5em;
}
article.episode a {
  color: #c0282d;
  text-decoration: none;
}
article.episode a[href]:hover {
  text-decoration: underline;
}
article.episode p, article.episode ol, article.episode ul {
  margin-bottom: 0.5em;
}
article.episode figure.cover {
  max-width: 320px;
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
}
article.episode figure.cover img {
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-box-shadow: 0 0 4px rgba(52, 52, 52, 0.45);
          box-shadow: 0 0 4px rgba(52, 52, 52, 0.45);
}
article.episode figure.cover .download-button {
  display: block;
  text-align: center;
  border: 1px solid #c0282d;
  padding: 0.5em 1em;
  text-transform: uppercase;
}
article.episode figure.cover .download-button:hover {
  background: #c0282d;
  color: #fff;
  text-decoration: none;
}
article.episode figure.video {
  position: relative;
  padding-bottom: 40%;
  max-width: 720px;
}
article.episode figure.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
article.episode .episode-text p {
  margin-bottom: 0.5em;
}
/*# sourceMappingURL=stan.css.map */