@-webkit-keyframes skeleton {
  0% {
    -webkit-transform: skewX(-10deg) translateX(-100%);
            transform: skewX(-10deg) translateX(-100%);
  }
  100% {
    -webkit-transform: skewX(-10deg) translateX(200%);
            transform: skewX(-10deg) translateX(200%);
  }
}
@keyframes skeleton {
  0% {
    -webkit-transform: skewX(-10deg) translateX(-100%);
            transform: skewX(-10deg) translateX(-100%);
  }
  100% {
    -webkit-transform: skewX(-10deg) translateX(200%);
            transform: skewX(-10deg) translateX(200%);
  }
}
.vgt-wrap th {
  font-size: 0.8rem;
  text-transform: uppercase;
  text-align: left;
}
.vgt-wrap th.sortable button {
  cursor: pointer;
}
.vgt-wrap th.sortable:hover span {
  color: #409eff;
}
.vgt-wrap .count {
  font-size: 1.3rem;
  line-height: 80%;
  vertical-align: middle;
}
.vgt-wrap .name {
  font-size: 1.4rem;
  line-height: 80%;
  vertical-align: middle;
}
.vgt-wrap .name a {
  text-decoration: none;
}
.vgt-wrap .name a:hover, .vgt-wrap .name a:focus, .vgt-wrap .name a:active {
  text-decoration: underline;
}
.vgt-wrap .name, .vgt-wrap .name-th {
  width: 60% !important;
}
.vgt-wrap .count, .vgt-wrap .count-th {
  width: 15% !important;
}
.vgt-wrap .vgt-fixed-header {
  width: 100%;
}
@media (pointer: fine) {
  .vgt-wrap .vgt-fixed-header {
    padding-right: 1rem;
  }
}

.data-points {
  display: -ms-grid;
  display: grid;
  gap: 30px;
}

.runtime-holder .label {
  font-size: 2.25vw;
  font-weight: bold;
  margin-bottom: 2rem;
}
.runtime-holder .measure {
  line-height: 1.35em;
  margin-bottom: 2rem;
}
.runtime-holder .measure .num {
  font-size: 180%;
}
.runtime-holder .measure.days {
  font-size: 5.35vw;
}
.runtime-holder .measure.hours {
  font-size: 4.25vw;
}
.runtime-holder .measure.minutes {
  font-size: 2.75vw;
}
.runtime-holder .measure.seconds {
  font-size: 1.85vw;
}

@media (min-width: 1330px) {
  .data-points {
    -ms-grid-columns: 2fr 1fr;
    grid-template-columns: 2fr 1fr;
  }
  .data-points .bonus-holder {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
  .data-points .runtime-holder {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .data-points .table-holder {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (max-width: 1329px) {
  .table-holder {
    max-width: calc(100% - 1rem);
  }
  .runtime-holder .measure.days {
    font-size: 14vw;
  }
  .runtime-holder .measure.hours {
    font-size: 10vw;
  }
  .runtime-holder .measure.minutes {
    font-size: 6.5vw;
  }
  .runtime-holder .measure.seconds {
    font-size: 4vw;
  }
}
@media (min-width: 981px) {
  .chart-holder {
    padding-left: 320px;
  }
}