/*
$body: #222;
$card: #000;
$copy: $white;
*/
@-webkit-keyframes skeleton {
  0% {
    -webkit-transform: skewX(-10deg) translateX(-100%);
            transform: skewX(-10deg) translateX(-100%);
  }
  100% {
    -webkit-transform: skewX(-10deg) translateX(200%);
            transform: skewX(-10deg) translateX(200%);
  }
}
@keyframes skeleton {
  0% {
    -webkit-transform: skewX(-10deg) translateX(-100%);
            transform: skewX(-10deg) translateX(-100%);
  }
  100% {
    -webkit-transform: skewX(-10deg) translateX(200%);
            transform: skewX(-10deg) translateX(200%);
  }
}
.table-flexes {
  display: -moz-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.table-flexes .table-holder {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  padding-top: 2em;
}

.chart-holder {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  mix-blend-mode: overlay;
  z-index: 9;
  display: -moz-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.chart-holder canvas {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.chart-holder .chart-square {
  -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-item-align: 0;
      -ms-grid-row-align: 0;
      align-self: 0;
}

.top-chart canvas {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

table.stats {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
table.stats th {
  font-weight: 300;
  text-transform: uppercase;
  line-height: 80%;
  padding-left: 0.5em;
  font-size: 1.35em;
  white-space: nowrap;
}
table.stats th:nth-child(2) {
  max-width: 2rem;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  position: absolute;
  top: 1.5rem;
  right: -0.5rem;
}
table.stats td {
  padding: 0.25rem 1rem;
  border: 1px solid #343434;
  vertical-align: middle;
}
table.stats td:last-child {
  font-weight: 700;
  font-size: 1.25em;
}
table.stats tr:nth-child(even) td {
  background: rgba(52, 52, 52, 0.2);
}
table.stats a:hover, table.stats a:focus {
  text-decoration: underline;
}
table.stats a:active {
  font-weight: 700;
}

@media (min-width: 981px) {
  .chart-holder {
    padding-left: 320px;
  }
}