ul.submitted-content {
  counter-reset: docNumber -1;
}

ul.submitted-content li {
  counter-increment: docNumber;
}

ul.submitted-content .number-cell {
  width: 1em;
  text-align: right;
}

ul.submitted-content .number-cell:before {
  content: counter(docNumber);
}

ul.submitted-content a {
  text-decoration: none;
}

ul.submitted-content a:hover {
  text-decoration: underline;
}

ul.submitted-content .comma-this .add-comma:after {
  content: '& ';
}

ul.submitted-content .comma-this .add-comma:last-child:after {
  content: '';
}
