h2, h3, h4, h5, h6 { margin-bottom: 0.3em; }

.blog-tags {
  @extend .episode-tags;
  /*
  .label { display: block; }
  ul { padding-left: 0; }
  a { @extend %tag; cursor: text;
    &:hover { text-decoration: none !important; }
    &[href] { background-color:rgba(174, 38, 38, 0.5); border-color:#6d0c0c; color:#6d0c0c; cursor: pointer;
      &:hover { background-color:rgba($red,1); background-color:#6d0c0c; color:#efc9c9; }
    }
  }
  */
}

.summaries {
  .read {
    .image-holder {
      &:hover {
        img { @include filter(grayscale,0.7); opacity: 0.7; }
        .hover-cover { @include translateY(0); }
      }
    }
  }
}


section.blogs {
	article { @include flex-container(); margin-bottom: 1em;
		aside { @include flex-item(200px, auto, 0, 0); }
		summary { @include flex-item(50%); padding-left: 1em; padding-bottom: 2em; position: relative;
			.title { text-transform: uppercase; font-size:1.5rem;
				a { text-decoration: none;
					&:hover { text-decoration: underline; }
				}
			}
			.author-block, time { display: inline-block; }
			time:before { content:'on'; margin-left: 0.4em; margin-right: 0.4em; }
			.content { margin-top: 0.5em; margin-bottom: 0.5em; }
		}
		.blog-tags { padding-left: 0;
			a { @extend %tag; }
		}
	}
}