.disqus-comment-count { position: absolute; bottom: 2px; right: 2px; width:3em; height:2em; background-image: url(../svg/empty_comment.svg); background-repeat: no-repeat; background-position: top center; background-size: contain; text-decoration: none; font-weight: 600; text-align:center; color:#fff; @include transition();
  &:hover { @include translateY(-25%); }
}

#CommentsPage { font-size:16px; padding-left: 0;
  li { list-style-type: none; }
  h5 { margin: 0; padding: 0.1em 0.7em 0 0.7em;
    a { font-weight: 100; text-transform: uppercase;
      &:hover { text-decoration: none; font-weight: 400; }
    }
  }
  blockquote { margin: 0; quotes: "\201C" "\201D" "\201C" "\201D"; position:relative; padding: 0.5em 2em 0.5em 10px;
    &:before { float: left; padding-top: 0.35em; margin-right: 0.05em; }
    p:last-child { margin-bottom: 0; }
    .score { position: absolute; bottom:5px; right:5px; font-weight: $normal; font-size:1.25em;
      &.positive { color:$green;
        &:before { content:'+'; }
      }
      &.negative { color:$red; }
    }
  }
  cite { display: block; font-size: 0.85em; text-align: right; }
}

@media (min-width:1200px) {
  #CommentsPage { font-size:1.5vw; }
}