.covers-only { @include flex-container(); // justify-content: space-around;
  
  a { @include background(); color:$black; text-decoration: none; position: relative; overflow: hidden;
    .cover { width: 100%; height: auto; }
    summary { background-color: rgba(255,255,255,0.85); padding: 1em; @include transition(); @include translateY(102%); position: absolute; right:0; bottom:0; left:0; }
    &.no-image { background-color: $black; padding: 1em; color:$white; text-decoration: none;
      &:hover { background-color: $red; }
      h3 { text-align: center; }
    }
    .disqus-comment-count { background-image: url(/assets/svg/empty_comment.svg); background-size: cover; background-repeat: no-repeat; background-position: center; @include translateY(105%); @include transition(); }
  }
}

section.fanart {
  figure { @extend %fanart; }
}

figure.fanart { @extend %fanart; }

@media (min-width: $desktop-min) {
  .covers-only {
    a { @include flex-item(25%, stretch, 0, 0);
      &:hover {
        summary { @include translateY(0); }
        .disqus-comment-count { @include translateY(0); }
      }
    }
  }
}

@media (max-width: $mobile-max) {
  .covers-only {
    a { @include flex-item(50%, stretch, 0, 0); }
  }
}