.fanart-headline { padding: 0.25em; }
.fanart-list { @include flex-container(); justify-content: space-between; padding-left: 0;
  li { list-style-type: none;
    @include respond-to(mobile) { @include flex-item(50%,stretch,0,0); }
    @include respond-to(desktop) { @include flex-item(25%,stretch,0,0); }
  }
  .fanart-link { display: block; position:relative;
    &:after { @include position(absolute,0,0,0,0); background-color:$red; opacity: 0; transition:opacity 0.3s ease; display: block; content:' '; }
    &:hover { border:none;
      &:after { opacity: 0.5; }
    }
  }
  .fanart-thumb { width:100%; }
}