.fanart-grid { display:grid; gap:$gap; justify-content: end; 
  .artist-box { grid-column: 1 / -1; font-size:2rem; margin-top:1em; }
}

figure.fanart { @extend %fanart; }




.fanart-grid { grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));

}

/*

@media (max-width:450px) {
  .fanart-grid { grid-template-columns: repeat(2, 1fr); }
}

@media  (min-width:451px) and (max-width:700px) {
  .fanart-grid { grid-template-columns: repeat(3, 1fr); }
}
@media  (min-width:701px) and (max-width:$mobile-max) {
  .fanart-grid { grid-template-columns: repeat(4, 1fr); }
}
@media  (min-width:$desktop-min) and (max-width:1300px) {
  .fanart-grid { grid-template-columns: repeat(4, 1fr); }
}
@media  (min-width:1301px) and (max-width:1600px) {
  .fanart-grid { grid-template-columns: repeat(5, 1fr); }
}
@media  (min-width:1601px) and (max-width:1950px) {
  .fanart-grid { grid-template-columns: repeat(6, 1fr); }
}
@media  (min-width:1951px) and (max-width:2200px) {
  .fanart-grid { grid-template-columns: repeat(7, 1fr); }
}
@media  (min-width:2201px) {
  .fanart-grid { grid-template-columns: repeat(auto-fill,250px); }
}

@media (max-width:$mobile-max) {
  .fanart-grid { 
    .fanart-headline { padding-left: $padding; padding-right: $padding; }
  }
}
*/