article { font-weight: $light;
  &.featured {
    header { @extend %clearfix; }
  }
  &.full { 
    h1, h2, h3, h4, h5, h6 { font-weight: 400; margin-top: 0.5em; }
    img { max-width: 100%; height: auto; }
    p { margin-bottom: 1em; }
    header { padding-bottom:1em; font-size:0.7em; @extend %clearfix; }
    .featured-site { float: right; }
    summary { text-align: justify; }
    ul.cast { padding-left: 0; }
    .info-block { padding-bottom: 1em; }
    ol { padding-left: 1.5em; padding-bottom: 1em;
      li { list-style-type: decimal; }
    }
    blockquote { background: #f9f9f9; border-left: 10px solid #ccc; margin: 1.5em 10px; padding: 0.5em 10px; quotes: "\201C""\201D""\2018""\2019";
      &:before { color: #ccc; content: open-quote; font-size: 4em; line-height: 0.1em; margin-right: 0.25em; vertical-align: -0.4em; }
    }

    a { text-decoration: none;
      &:hover { text-decoration: underline; }
    }
    .episode-tags {
      .label { display: block; }
      ul { padding-left: 0; }
      a { @extend %tag; cursor: text;
        &:hover { text-decoration: none; }
        &[href] { background-color:rgba(174, 38, 38, 0.5); border-color:#6d0c0c; color:#6d0c0c; cursor: pointer;
          &:hover { background-color:rgba($red,1); background-color:#6d0c0c; color:#efc9c9; }
        }
      }
    }
    .custom-html { font-size:75%;
      h4 { padding-bottom: 0.5em; }
    }
  }
  .cast { 
    li { display: inline;
      &:after { content:','; margin-left:-0.2em; }
      &:nth-last-child(2):after { content:''; margin-left:0;  }
      &:last-child { 
        &:before { content:'and '; }
        &:after { content:'.' };
      }
      &:first-child:before { content:'with '; }
    }
  }
  .sites { @extend %commalist;
    li:first-child:before { content:'reading: '; }
  } 
}
.content-provider, .edited-by {
  &:after { content:'.'; margin-left: -0.2em; }
}

.pagination { display: block; @extend %clearfix; font-size:1.35em; margin-right: 1vw; padding-top: 1em;
  a { text-decoration: none; 
    &:hover { text-decoration: underline; }
  }
  .prev { float: left;
    &:before { content:'\00AB'; }
  }
  .next { float: right;
    &:after { content:'\00BB'; }
  }
  .randumb { text-align: center; display: block;
    &:before { content:'\00BF'; }
    &:after { content:'?'; }
  }
}
article.full {
  .episode-actions { @extend %clearfix; }
  .episode-actions, .otherproject-actions {
    > a { transition:all 0.5s ease;
      //&.download { color:#6f2db9 }
      //&.read { color:#1f879d; }
      &.twitter { color:#55acee; }
      &.github { color:#181616; }
      &.googleplus { color:#D34836; }
      &.flattr { color:#89b443;
        .top-left { fill:#f9ad33; }
        .bottom-right { fill:#89b443; }
      }
      &.facebook { color:#3B5998; }
      &.action:hover { transform:rotateX(360deg); }
      &.social:hover { transform:rotateY(360deg); }
    }
  }
  .otherproject-actions { display: block; padding-top: 0.25em; clear: both; float: none; text-align: right;
    a.action, a.social { display: inline-block; width:38px; height:38px; margin-right: 0.5em; }
    audio { width:58%; }
  }
}


// DESKTOP REAKPOINT
@media (min-width: $desktop-min) {
  main { display: block; padding:20px 0 20px 320px; height:100vh; overflow-y: auto;
    &.page { padding-right: 1vw; }
  }
  article {
    &.full { font-size:1.6vw;
      .cover { float: right; max-width: 40%; margin-left: 2.5vw; }
      .episode-actions { @include flex-container; padding-top: 0.25em; clear: both; float: none;
        > a {
          &.action { @include flex-item(48px,auto,0,0); margin-right:2%; padding-top: 0.5em; }
          &.social { @include flex-item(36px,auto,0,0); margin-top: 1em; margin-right: 1%;
          }
        }
        .audio-holder { @include flex-item(40%); padding-top: 1em; }
        audio { width:100%; }
        .share-label { @include flex-item(4em,auto,0,0); padding-top: 1em; text-align: right; }
      }
    }
  }
}


// MOBILE BREAKPOINT
@media (max-width: $mobile-max) {
  main { display: block; padding:70px 10px 0 10px;
    &.noscroll { height:100vh; overflow: hidden; }
  }
  article {
    &.full { font-size:4.3vw;
      .cover { width:100%; height:auto; margin-bottom: 10px; }
      .episode-actions { padding-top: 0.25em; clear: both; float: none; margin-bottom: 3vh;
        > a { 
          &.action { display: inline-block; width:48px; height:48px; margin-right:2%; padding-top: 0.5em; }
          &.social { display: block; float: right; width:36px; height:36px; margin-right:5px; padding-top: 0.5em; }
        }
        .audio-holder { width:100%; padding-top: 1em; }
        audio { width:100%; }
        .share-label { display: none; }
      }
    }
  }
}