article { font-weight: $light;
  &.full { line-height: 140%; font-size:$font-size;

    h1, h2, h3, h4, h5, h6 { font-weight: 400; }
    h1 { margin-bottom: 0.5em; }
    img { max-width: 100%; height: auto; }
    .full-width { width:100%; }
    .centered { display: block; margin-left: auto; margin-right: auto; }
    .full-width, .centered { margin-bottom: 1rem; }
    p { margin-bottom: 1em; }
    
    .date-wrapper { @include flex-container(); font-size: 80%; margin-bottom: 0.5em;
      .label { padding-right: 0.5em;}
      time { font-weight: $bold; }
    }
    
    //summary, .content { text-align: justify; }
    ul.cast { padding-left: 0; padding-bottom: 0; }
    
    .featured-site.multiple-sites {
      span { 
        &:after { content:', ' }
        &:last-child {
          &:before { content: ' & ';}
          &:after { content: '';}
        }
      }
    }
    
    .info-block { padding-bottom: 1em; }
    ol, ul { padding-left: 1.5em; padding-bottom: 1em; }
    ol li { list-style-type: decimal; }
    blockquote { background: #f9f9f9; border-left: 10px solid #ccc; margin:0 0 1em 0; padding: 0.5em 2em 0.5em 10px; quotes: "\201C" "\201D" "\201C" "\201D"; position: relative;
      &:before { color: #ccc; content: open-quote; font-size: 4em; line-height: 0.1em; margin-right: 0.25em; vertical-align: -0.4em; float: left; padding-top: 0.35em; margin-right: 0.05em; }
      p:last-child { margin-bottom: 0; }
    }
    a { @extend %textlink; }
  }
  .cast { 
    li { display: inline;
      &:after { content:', '; }
      &:nth-last-child(2):after { content:''; }
      &:last-child { 
        &:before { content:'and '; }
        &:after { content:'.'; };
      }
      &:first-child:before { content:'with '; }
    }
  }
  .sites { @extend %commalist;
    li:first-child:before { content:'reading: '; }
  }
}

.episode-tags {
  .label { display: block; font-size:80%; text-transform: uppercase; font-weight: $bold; }
  ul { padding-left: 0 !important; }
  a { @extend %tag; }
}


.content-provider, .edited-by {
  &:after { content:'.'; margin-left: -0.2em; }
  .multi {
    &:after { content:', '; }
    &:nth-last-child(2):after { content: ' & '; }
    &:last-child:after { content: ''; }
  }
}

article.full {
  .episode-actions { @extend %clearfix;
    a { position: relative;
      &.action {
        svg * { fill:$red; }
        .label { background:$red; }
      }
      &.twitter {
        svg * { fill:$color-twitter; }
        .label { background:$color-twitter; }
      }
      &.github {
        svg * { fill:$color-github; }
        .label { background:$color-github; }
      }
      &.googleplus {
        svg * { fill:$color-googleplus; }
        .label { background:$color-googleplus; }
      }
      /*
      &.flattr svg * { fill:$color-flattr-orange;
        .orange { fill:$color-flattr-orange; }
        .green { fill:$color-flattr-green; }
        .label { background:$color-flattr-orange; }
      }
      */
      &.facebook { 
        svg * { fill:$color-facebook; }
        .label { background:$color-facebook; }
      }
      &.tumblr {
        svg * { fill:$color-tumblr; }
        .label { background: $color-tumblr; }
      }
      &.reddit {
        svg * { fill:$color-reddit; }
        .label { background: $color-reddit; }
      }
      &.pocket {
        svg * { fill:$color-pocket; }
        .label { background: $color-pocket; }
      }
      &.contribute {
        svg * { fill:$link; }
        .label { background:$link; }
      }
      &.action, &.social { transform-origin: center; transition:all 0.3s cubic-bezier(.65,.05,.36,1);
        &:hover { transform:scale(1.3); }
      }
      .label { position: absolute; white-space: nowrap; line-height: 1.2em; font-size:0.5em; padding: 0.5em; transition:all 0.3s cubic-bezier(.65,.05,.36,1); opacity:0; top:-1.5rem; transform:translateY(100%); color:$white; pointer-events: none;
        &:not(.go-right) { right:0.7rem; }
        &.go-right { background:$link; left:0.7rem; }
      }
      &:hover { border:none;
        .label { transform:translateY(0); opacity: 1; }
      }
    }
  }
}



article.full { background:#fff; box-shadow: $boxShadow; padding:($gap * 2); margin-top:40px;
  header { margin-bottom: 0.5em;
    h1 { font-size:150%; font-weight:600; margin-bottom:0.3em; }
  }
  .article-text { text-align: justify; letter-spacing: 180%; }
  img.cover { box-shadow: 0 0 6px rgba($black,0.45);
    @media (min-width:$desktop-min) { transform: translateY(-70px); }
    @media (max-width:$mobile-max) { transform: translateY(-40px); margin-bottom:-20px; }
  }
  //.cast, .content-provider, .edited-by { font-size:80%; }
}




// MARATHON SPECIFIC BITS
.marathon-block {
  h1 { font-weight:400; }
  .hours-leadin, .hours-leadout { font-size:1.6vw; font-weight: $light;
    a { text-decoration: none; 
      &:hover { text-decoration: underline; }
    }
  }
  .hours-leadin { padding-top: 1em; 
    p { margin-bottom: 1em; }
  }
  .hours-leadout { padding-bottom: 1em; }
  
}

.marathon-hours { padding-top: 2em; }
.marathon-hour { margin-bottom: 2em; border-bottom: 1px solid rgba($black,0.75);
  //iframe { margin-left: auto; margin-right:auto; display: block; }
  @include flex-container();
  header { @include flex-item(100%); padding-bottom:0; }
  summary { padding-top: 1em; }
  .detail-holder { font-size:1rem; }
  a.read {  height: 70px; width:70px; display: block; float: right; margin-left: 1em; margin-bottom: 1em; border-bottom: none !important;
    svg { width:100%; height: 100%;
      * { fill:$red; }
    }
  }
}
.marathon-gallery {text-align: center; padding: 1em;
  .button { display: inline-block; border: 2px solid currentColor; padding: 0.5em 1em; font-size: 125%; margin-right: 0.3em; text-decoration: none; border-radius: 0.5em;
    &:hover { background-color:$red; color:$white; }
  }
}

@media (max-width: 887px) {
  .marathon-block {
    .hours-leadin, .hours-leadout { font-size:1rem; }
  }
  .marathon-hour {
    .video-holder { @include flex-item(100%);
      iframe { max-width: 100%; max-height: 53vw; }
    }
    .detail-holder { @include flex-item(100%); font-size:0.9rem; }
  }
}

@media (min-width: 888px) {
  .marathon-hour { justify-content: space-between;
    .video-holder { order:4; @include flex-item(560px,auto,0); }
    .detail-holder { padding-right: 1em; max-width: 32em; line-height: 180%; @include flex-item(calc(100% - 560px)); }
  }
}



@media (min-width:1401px) {
  article.full { font-size:22px; }
  article.episode {
    .article-text { max-width: 34em; }
  }
}

@media (min-width:$mobile-max) and (max-width:1400px) {
  article {
    // .article-text { font-size:2vw; }
  }
}



// DESKTOP BREAKPOINT
@media (min-width: $desktop-min) {
  main { display: block; padding:$gap $gap $gap ($sidebar + $gap);
    &.page { padding-right: ($padding * 2); }
    &.edge-to-edge { padding: 0 0 0 $sidebar; }
  }
  article {
    &.full { padding:($padding * 2);
      .cover { float: right; max-width: 40%; margin-left: ($padding * 2);
        &.left { float: left; margin-right: ($padding * 2); margin-left: 0; }
      }
      a {
        &.action { @include flex-item(70px,auto,0,0); 
          svg { max-width: 70px; }
        }
        &.social { @include flex-item(60px,auto,0,0);
          svg { max-width: 60px; }
        }
      }
      .episode-actions { @include flex-container; padding-top: 0.25em; clear: both; float: none;
        .audio-holder { @include flex-item(40%); padding: 0.5em 1em; }
        audio { width:100%; }
      }
    }
  }

  article.full.default { max-width: 42em; margin-right: auto; margin-left:auto; }
  article.full.blog { max-width: 42em; margin-right: auto; margin-left:auto;
    .author { margin-bottom: 1em; }
  }
}

// MOBILE BREAKPOINT
@media (max-width: $mobile-max) {
  main { display: block; padding:$gap; margin-bottom:$mobileLogoSize;
    &.noscroll { height:100vh; overflow: hidden; }
    &.edge-to-edge { padding:0; }
  }
  article {
    &.full { font-size:4.3vw;
      .cover { width:100%; height:auto; margin-bottom: 10px; }
      a { 
        &.action { display: inline-block; }
        &.social { display: block; float: right;  }
        &.action, &.social { width:50px; height:50px; }
      }
      .episode-actions { padding-top: 0.25em; clear: both; float: none; margin-bottom: 3vh;
        .audio-holder { width:100%; padding-top: 1em; }
        audio { width:100%; }
      }
    }
  }
}

/*

@keyframes slidePageIn {
  0%   { transform: translateY(102vh); }
  //98%  { transform: translateY(-2%); }
  100% { transform: translateY(0); }
}

article.full { animation-name: slidePageIn; animation-duration:0.7s; animation-timing-function: cubic-bezier(.57,.58,.56,1.2);

}
*/