.person.full {
  .job { font-size:60%;
    &:before { content:"("; }
    &:after { content:")"; }
  }
  .personal-links { padding-left: 0;
    li { display: inline-block; padding-right: 1em;
      .label { width:1.8em; height: 1.8em; }
    }
  }
  .appears-in, .documents-provided, .wrote-posts { text-align: justify;
    ul { padding-left: 0; }
    li { display: inline; font-size: .75em; margin-right: 0.5em;
      a { margin-right: 0.5em; }
      &:after {content: '\2022'; }
      &:last-child:after { content:''; }
    }
  }
}

.people-grid { display: grid; grid-gap: 30px;
  .person { background:white; box-shadow: $boxShadow; text-decoration: none;
    &.hidden { display: none; }

    &:hover {
      figcaption { color:$link; text-decoration:underline; }
    }

  }

  figcaption { padding-left: $padding; padding-right: $padding; color:$black; text-decoration: none;
    font-size:125%; padding-top:($padding / 2); border:none;
  }
  
  figure { padding-right:20px; 
    img { width:100%; display: block; transform: translate(-20px,20px); box-shadow:0 0 4px rgba($black,0.5); }
  }


  .image-holder { position:relative; display: block; overflow: hidden;
    img { @include transition(all, 1s); width: 100%; }
    .hover-cover { position: absolute; right:0; bottom:0; left:0; @include linear-gradient(top, rgba(#ffe,0), rgba(#ffe,0.85)); @include translateY(105%); @include transition(transform, .5s);
      .content { color:$black; padding: 1em;  }
    }
    &:hover {
      img { opacity: 0.2; }
      .hover-cover { @include translateY(0);}
    }
  }
}

@media (min-width:1561px) {
  .people-grid { grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }
}

@media (max-width:1560px) {
  .people-grid { grid-template-columns: 1fr 1fr 1fr 1fr; }
}

@media (max-width:1240px) {
  .people-grid { grid-template-columns: 1fr 1fr 1fr; }
}

@media (max-width:998px) {
  .people-grid { grid-template-columns: 1fr 1fr;  }
}

/*
@media (max-width:480px) {
  .people-grid { display: block; 
    .person { display: block; width:260px; margin-bottom: 20px; }
  }
}
*/


@media (min-width: $desktop-min) {
  .summaries {
    .person {
      &.brief { @include flex-item(245px, stretch, 0, 0); max-width: 245px; justify-content:space-between; }
    }
  }
  .person.full {
    .headshot { float: right; max-width: 40%; margin-left: 1vw; }
  }
}

@media (max-width: $mobile-max) {
  .summaries {
    .person {
      summary { font-size:12px; padding: 0; }
      &.brief { @include flex-item(48%); }
      .content { padding: 1em; font-size:12px; }
    }
  }
  .person.full {
    .headshot { width:100%; height:auto; margin-bottom: 10px; }
    .info-block ol, .info-block ul, .personal-links {
      li { display: list-item; font-size:16px; padding-top: 0.5em; padding-bottom: 0.5em;
        &:after { content:''; }
      }
    }
  }
  
  
}