
.merch-grid { display: grid; grid-gap:20px;
  article {
    h3 { letter-spacing: .25em; font-weight: $bold; }
  }
  .grid-box { grid-column: span 1; color:$black; text-decoration: none;
    figure { border:1px solid $black; }
    .thumb-holder {
      img { max-height: 230px; width: auto; display: block; margin-left: auto; margin-right: auto; }
    }
    a.zoom { cursor:zoom-in !important; }
    img { width: 100%; }
    .details { @include flex-container(); border-top: none; border-left: none; border-bottom: 1px solid $black; border-right: 1px solid $black;
      .detail { border-left: 1px solid $black;
        a { text-decoration: none;
          &:hover { text-decoration: underline; }
        }
      }
      label { display: block; background:$black; color:$white; font-size:80%; padding: 2px 10px; text-transform:lowercase; }
      .text { display: block; padding: 4px 10px; text-transform: uppercase; @extend %truncate; }
      .name {
        .text { font-size:120%; }
      }
      .dimensions {
        .text { text-transform: lowercase; }
      }
      
      .full { @include flex-item(100%); }
      .two-thirds { @include flex-item(66.666%); }
      .half { @include flex-item(50%); }
      .third { @include flex-item(33.333%); }
      
      .buy-buttons { @include flex-item(100%); border-top:1px solid $black;
        .buttons { @include flex-container(); padding: 10px; }
        form { @include flex-item(33.333%); text-align: center; }
        button, .button { background-color: $red; color: white; border: 1px solid $red; padding: 1em 0.5em; font-weight: 600; font-size: 1rem; box-shadow: 2px 2px 2px $black; cursor: pointer; 
          &:hover { background-color:white; color:$red; }
          &:active { background-color:$black; color:white; }
          &.single-button { display: block; width:100%; }
        }
      }
      .no-buttons { @include flex-item(100%); border-top:1px solid $black; padding: 0.75rem 0.25rem; text-align: center; background-color:$black; color:$white;
        span { font-size:115%; font-weight: 300; }
      }
    }
  }
  a {
    figure { background:$red; }
    .name { color:$red; }
  }
  a.grid-box:hover {
    figure img { opacity: 0.5; }
    .details { color: $red; }
    .name .title { text-decoration: underline; }
  }
}

@media (min-width:1581px) {
  .merch-grid { grid-template-columns: 1fr 1fr 1fr 1fr;
    article { grid-column: span 4; }
  }
}
@media (min-width:1271px) and (max-width:1580px) {
  .merch-grid { grid-template-columns: 1fr 1fr 1fr;
    article { grid-column: span 3; }
  }
}

@media (min-width:971px) and (max-width:1270px) {
  .merch-grid { grid-template-columns: 1fr 1fr;
    article { grid-column: span 2; }
  }
}

@media (min-width:766px) and (max-width:970px) {
  .merch-grid { display: block;
    .grid-box { display: block; width:360px; margin-bottom: 20px; }
  }
}

@media (min-width:583px) and (max-width:765px) {
  .merch-grid { grid-template-columns: 1fr 1fr;
    article { grid-column: span 2; }
  }
}

@media (max-width:582px) {
  .merch-grid { display: block;
    .grid-box { display: block; width:360px; margin-bottom: 20px; }
  }
}



.product-photos { @include flex-container(); justify-content:flex-start;
  img { max-height: 260px; }
  h3, .share-your-photo { @include flex-item(100%); }
  h3 { font-weight: $light; font-size: 1.25em; text-transform: uppercase; letter-spacing: 0.15em; }
  .share-your-photo { margin-top: 10px; }
}
