/*

.page-search { padding-top: 1em; @include flex-container();
  input[type=search] { @include flex-item(80%); font-family:$sans-serif; font-size: 3vw; padding: 0.25em 1em; color:lighten($black,20%); border:1px solid lighten($black,20%); border-right:none; }
  input[type=submit] { @include flex-item(20%); font-family:$sans-serif; font-size: 2vw; background-color:$episode; color:$red; border:1px solid $red;
    &:hover, &:active { cursor: pointer; background-color:$red; color:$white; }
  }
}

.search-results-count { @include flex-item(100%); color:rgba($black,0.75); margin-top: -0.5em; font-size:1.25vw; font-style: italic; font-weight: $light; margin-bottom: 1.5em;  }
.all-search-results { margin:1em 0 0 0; }
.no-search-results { @include flex-item(100%); font-size:1.5vw; border:1px solid rgba($black,0.75); padding:1em 1em 0 1em;
  p { color:rgba($black,0.75); margin-bottom: 1em; }
  b { font-weight: $bold; }
}
*/

main.search { 
  form { @include flex-container();
    .input-holder { @include flex-item(50%); }
    input, button { font-family:$sans-serif; background:transparent; border:none; color:$black; outline: none; }
    input { font-size:3vw; border-bottom:0.05em solid rgba($black,0.8); font-weight: $light; width: 99%;
      &:focus, &:active, :hover { border-color:$link; color:$link; }
    }
    button { font-size:2vw; @include flex-item(6em,0,0); cursor: pointer;
      &:focus, &:active, &:hover { background-color:$link; color:$white; }
    }
  }
}


@media (min-width:$desktop-min) {
  main.search {
    form {
      input { font-size:50px; }
      button { font-size:30px; }
    }
  }
}
@media (max-width:$mobile-max) {
  main.search {
    form { 
      input { font-size:32px;  }
      button { font-size:20px;  }
    }
  }
}