@keyframes draw-focus {
  0%   { transform:translateY(0); }
  64%  { transform:translateY(0); }
  67%  { transform:translateY(-6px); }
  68%  { transform:translateY(-6px); }
  71%  { transform:translateY(2px); }
  72%  { transform:translateY(0); }
  100% { transform:translateY(0); }
}

.sidebar {
  .sidebar-links {
    .count { font-size: 60%; transform: translateY(-60%); display: inline-block; border-radius: 50%; font-family: Arial, Helvetica, sans-serif; font-weight: 900; }
    input { padding: 0; width:100%; background-color: transparent; border:none; border-bottom: 2px solid transparent; font-family:$sans-serif; color:rgba($black,0.8); outline: none;
      &:hover, &:focus { background-color: $white; color:$link; border-color:$link; }
    }
  }
}

$logoLinkHeight: 150px;

@media (min-width: $desktop-min) {
  .mobile-only { display: none !important; }
  .mobile-menu { display: none; }
  a.flapjax { display: none; }

  .sidebar { position: fixed; top: 0; left: 0; bottom: 0; width: $sidebar; z-index: 99;

    .logo-link { display: block; @include position(absolute,null,0,0,0); height:$logoLinkHeight;
      .logo-notch, .grow-circle, .grow-circle-2 { display: none; }
      * { pointer-events: none; }
      .logo-mark { position: absolute; bottom:-35px; left:10px; width:($sidebar * 0.6); transition:all 1s ease; }
      .logo-type { position:absolute; right:30px; top:30%; width:($sidebar * 0.5); transition:all 1s ease; transform: translateY(($logoLinkHeight * 1.2))  }
      .slogan { position:absolute; bottom: 10px; right:10px; width:($sidebar * 0.46); opacity:0; transition: all 1s ease; transform:translateX(100%); font-size:12px;
        span { display: block; text-decoration: none; font-style: italic;
          &:first-child { transform:translateX(-20%); }
        }
      }

      &:hover { 
        .logo-mark { transform: scale(0.5) translate(-50%, -4%); }
        .logo-type { transform: translateY(0); transition-delay: 0.3s; }
        .slogan { opacity:1; transform:translateX(0); transition-delay: 0.6s; }
      } 
    }


    .sidebar-links { @include position(absolute,null,40px,($logoLinkHeight * 1.35),40px);
      a { display: block; margin-bottom: 0.8em; color:rgba($black,0.8); text-decoration: none; font-size:1.2rem;
        &:hover { color:$link; text-decoration: underline; }
      }
      input { font-size:1.2rem;
        &::placeholder { color:rgba($black,0.8); }
      }
    }

    .social-links {  @include position(fixed,null,null,($logoLinkHeight * 1),30px); width:($sidebar * 0.6); display:grid; grid-template-columns: repeat(4,1fr); gap:3px;
      svg { transform:scale(1); transition: transform 0.1s linear; }
      a { color:rgba($copy,0.6); width:42px; height: 42px;
        &:hover svg { transform: scale(1.35); }
        &.twitter:hover     { color:$color-twitter; }
        &.ballpit:hover     { color:$color-ballpit; }
        &.youtube:hover     { color:$color-youtube; }
        &.rss:hover         { color:#FFA500; }
        &.lemon:hover       { color:$color-lemon;  }
        &.paypal:hover      { color:$color-paypal; }
        &.itunes:hover      { color:#9933CC; }
        &.github:hover      { color:$color-github; }
        &.twitch:hover      { color:$color-twitch; }
        &.damndog:hover     { color:#222730; }
        &.pocketcasts:hover { color:$color-pocketcasts; }
        &.playmusic:hover   { color:#F1471D; }
        &.overcast:hover    { color:#FC7E0F; }
        &.podchaser:hover   { color:#293b65; }
        svg * { fill:currentColor; }
      }
    }
    
  }

}

$mobileLogoSize: 64px;
$mobileLogoNotchSize: ($mobileLogoSize * 1.25);
$mobileLogoGrowSize: 996px;
$z-grow-circle: 43;
$z-logo-notch: 42;
$z-logo-mark: 44;
$z-sidebar-links: 45;
$z-social-links: 46;


@media (max-width: $mobile-max) {
  .desktop-only { display: none !important; }
  .sidebar {
    .grow-circle { min-height: 50vh; min-width: 100vw; transform-origin: bottom left; z-index: $z-grow-circle; transition: transform 1.7s ease; pointer-events: none;
      @include position(fixed,100vh,null,null,-100vw);
      //opacity: 0;
    }

    .logo-type, .slogan { display: none; }

    .logo-notch { @include position(fixed,null,null,(-$mobileLogoSize * .25),0); width:$mobileLogoSize; width:$mobileLogoNotchSize; height:$mobileLogoNotchSize; z-index: $z-logo-notch;
      * { fill:$white; }
    }
    .logo-mark { @include position(fixed,null,null,0,0); height: $mobileLogoSize; z-index: $z-logo-mark; transform: translate(5px,10px);transition:transform 0.5s ease 0s; }

    .logo-link { outline: none;
      * { outline: none; }
      .grow-circle-2 { @include position(fixed,null,null,-($mobileLogoGrowSize * .5),-($mobileLogoGrowSize * .5)); width:$mobileLogoGrowSize; height:$mobileLogoGrowSize; z-index: $z-logo-notch;
        transform:scale(0.015);
        opacity: 0;
        transition: transform 1s ease 0s, opacity 0.15s linear 0.8s;
        transform-origin: center;
        * {
          fill:#c0282d;
        }
      }

      &.active {
        .logo-mark { transform: scale(1.5) translate(30%,-20%); transition-delay: 1s; } 
        .grow-circle-2 { transform: scale(1); opacity: 1; transition: transform 1.2s ease 0s, opacity 0s linear 0s;  }

        ~ .social-links { transform: translateX(0); transition-delay: 0.8s; }
      }
    }

    .sidebar-links { @include position(fixed,null,null,($mobileLogoSize * 1.12),$padding); z-index: $z-sidebar-links; transform: translateX(-100vw);
      a { display: block; color:#121212; text-decoration: none; margin-bottom:0.35em; }
      input { font-size:18px;
        &::placeholder { color:#121212; }
      }
      transition:transform 0.5s ease;
      &.active { transition-delay: 1s;
        transform: translateY(0);
      }
    }

    .social-links { 
      @include position(fixed,null,$padding,$padding);
      a { display:block; width:40px; height: 40px; color:#252525; }
      svg * { fill:currentColor; }
      transform: translateX(150%); transition: transform 0.6s ease; z-index: $z-social-links;
    }

  }
}

