.tags.filtered { text-align: right; padding:0 1em 0.5em 0;
  li { font-size:1.2em;
    label { }
  }
}

.summaries {
  article {
    header { padding:0 1em .25em 1em; } 
    .cover { width: 100%; margin: auto; display: block; }
    .title { display:block; position: relative; height: 1.8rem; margin: 0;
      a { display:block; @include position(absolute,0,0,0,0); @extend %truncate; font-size:1.2rem; font-weight: $bold; cursor: pointer; text-decoration: none;
        &:hover { text-decoration: underline; }
      }
    }
    /*
    .title { font-size:1.4rem; line-height: 120%; @extend %truncate; height:1.3em; margin-bottom: 0;
      a { @extend %textlink; }
    }
    */
    summary { padding: 1em 1em 2.5em 1em; display: block; }
    &.person summary { padding-bottom: 0; }
    .content { text-align: justify; }
    &.brief { position: relative; background-color:#fff;
      .image-holder { position:relative; display: block; overflow: hidden;
        img { @include transition(all, 1s); }
        .hover-cover { position: absolute; right:0; bottom:0; left:0; @include translateY(105%); @include transition();
          svg { display: none; }
        }
        &:hover {
          .hover-cover { @include translateY(0); }
        }
      }
      .cast { margin-bottom: 1em; font-size:0.85em; padding-left: 0; }
      .author-block { margin-bottom: 1em; font-size: 0.85em; }
      .tags { padding:1em; text-align: right;
        li { font-size:0.8em; }
      }
      .published { font-size: 0.85em; }
      &.episode { background-color: $episode; border-color: darken($episode,35%); //box-shadow: 2px 2px 2px darken($episode,35%);
        .hover-cover { background:rgba($episode,0.85); }
      }
      &.wrote { background-color:$wrote; border-color:darken($wrote,25%);
        .hover-cover { background:rgba($wrote,0.85); }
      }
      &.also-made { background-color: $also-made; color:$white; border-color: darken($also-made,5%); // box-shadow: 2px 2px 2px darken($also-made,5%);
        .hover-cover { background:rgba($also-made,0.85); }
      }
      &.adjudicated-guess { background-color:$adjudicated-guess; border-color: darken($adjudicated-guess,5%);

      }
      .episode-number { position: absolute; bottom:0.2em; left:0.5em; font-size:2em; color:lighten($black,40%);
        &:before { content:'#'; }
      }
      .time-estimate { position: absolute; bottom:0.2em; left:0.5em; font-size:2em; color:lighten($black,40%);
        &:after { content:' min read'; font-size:0.5em; }
      }
    }
  }
  .fa { color:lighten($black,20%); }
}

.pagination { display:flex; justify-content: space-between;
  svg * { fill: $red; }
  a { 
    &:hover { background-color:$red;
      svg * { fill:$white; }
    }
    &:active { background-color: $black; }
  }
}

nav.toggle { padding-top: 1em; padding-bottom: 1.5em; font-size: 1.25rem;
  label {font-weight: 400; margin-right: 1em; }
  a  { margin-right: 1em; font-weight: 300;
    .checkbox { height: 1em; width: 1em; display: inline-block;
      .check { fill: $red; opacity: 0; }
      .box { fill:$black; }
    }
    &.active .checkbox {
      .check { opacity: 1; }
    }
    &:hover { 
      .checkbox .box { fill:$red; }
      span { text-decoration: underline; }
    }
  }
}


.summaries { display: grid;  grid-gap: $gap;
  article { box-shadow:0 0 $halfGap rgba($black,0.5); }

  @media (min-width: 2301px)                         { grid-template-columns: repeat(6,1fr); }
  @media (min-width: 1901px) and (max-width: 2300px) { grid-template-columns: repeat(5,1fr); }
  @media (min-width: 1601px) and (max-width: 1900px) { grid-template-columns: repeat(4,1fr); }
  @media (min-width: 1001px) and (max-width:1600px)  { grid-template-columns: repeat(3,1fr); }
  @media (min-width: 461px) and (max-width:1000px)   { grid-template-columns: repeat(2,1fr); }
  @media (max-width: 460px)                          { grid-template-columns: 1fr; }
}





/*

@media (max-width: 460px) {
  .summaries { display: block; 
    article.brief { display: block; }
  }
  nav.toggle {
    a { display: block; }
  }
  .pagination {
    svg { width:38vw; }
  }

}
@media (min-width: 461px) {
  .summaries { @include flex-container(); justify-content: space-between; }
}
@media (min-width: 461px) and (max-width:1000px) {
  .summaries {
    article.brief { @include flex-item(calc(50% - 5px), auto, 0, 0); max-width:calc(50% - 5px); }
  }
  .pagination {
    .prev, .next, .blank { width:50%; }
  }
}

@media (min-width: 1001px) and (max-width:1600px) {
  .summaries {
    article.brief { @include flex-item(calc(33.3333% - 5px), auto, 0, 0); max-width:calc(33.3333% - 5px); }
  }
  .pagination {
    .prev, .next, .blank { width:33.3333%; }
  }
}

@media (min-width: 1601px) {
  .summaries { 
    article.brief { @include flex-item(calc(25% - 5px), auto, 0, 0); max-width: calc(25% - 5px); }
  }
  .pagination {
    .prev, .next, .blank { width:25%; }
  }
}

*/