// COLORS
$white: #eee;
$black: #343434;
$red: #e22626;
$green: #3eae12;
$yellow:#e5e972;
$teal: #4e7f71;

// COLOR UTILITIES
$body: $white;
$copy: $black;
$link: $red;
$accent: $green;
$sidebar: $black;
$also-made: #444;
$wrote: #f1f5d0;
$episode: #fff;


// FONTS
$source: 'Source Sans Pro', sans-serif;
$font-size: 18px;
$light:300;
$normal:400;
$bold:600;

// FONT UTILITIES
$sans-serif: $source;

// MEASUREMENTS //////////////////////////////////////////////////////////////////////
$radius:6px;
$mobile-max: 767px;
$desktop-min: 768px;