// COLORS
$white: #eee;

$black: #343434;
$red: #c0282d;
$green: #3eae12;
$yellow:#e5e972;
$teal: #4e7f71;

// COLOR UTILITIES
$body: $white;
$copy: $black;
$card: #fff;

$link: $red;
$accent: $green;
$sidebar: $black;
$also-made: #1b1426;
$adjudicated-guess: #afdbfe;
$wrote: #faecce;
$episode: #fff;

// BRAND COLORS
  $color-twitter: #55acee;
  $color-ballpit: #4eb85d;
  $color-github: #181717;
  $color-youtube: #ff0000;
  $color-googleplus: #D34836;
  $color-flattr-green: #89b443;
  $color-flattr-orange: #f9ad33;
  $color-facebook: #3B5998;
  $color-tumblr: #36465d;
  $color-reddit: #ff4500;
  $color-lemon: #e5e828;
  $color-paypal: #00457C;
  $color-pocket: #EF3F56;
  $color-twitch: #6441A4;

// FONTS
$source: 'Source Sans Pro', sans-serif;
$noto: 'Noto Serif TC', serif;
$font-size: 18px;
$light:300;
$normal:400;
$bold:700;
$heavy:600;

// FONT UTILITIES
$sans-serif: $source;
$sans-serif: $noto;

// MEASUREMENTS //////////////////////////////////////////////////////////////////////
$sidebar: 320px;
$mobile-top:56px;
//$radius:6px;
$gap: 10px;
$halfGap: ($gap / 2);
$doubleGap: ($gap * 2);
$padding: 20px;
$mobile-max: 767px;
$desktop-min: 768px;

// ZAZZLE!!!!!!
$boxShadow: 0 0 4px rgba($black,0.2);



/*
$body: #222;
$card: #000;
$copy: $white;
*/