// COLORS
$white: #eee;
$black: #343434;
$red: #c0282d;
$green: #3eae12;
$yellow:#e5e972;
$teal: #4e7f71;

// COLOR UTILITIES
$body: $white;
$copy: $black;
$link: $red;
$accent: $green;
$sidebar: $black;
$also-made: #444;
$wrote: #f1f5d0;
$episode: #fff;

// BRAND COLORS
  $color-twitter: #55acee;
  $color-github: #181616;
  $color-googleplus: #D34836;
  $color-flattr-green: #89b443;
  $color-flattr-orange: #f9ad33;
  $color-facebook: #3B5998;

// FONTS
$source: 'Source Sans Pro', sans-serif;
$font-size: 18px;
$light:300;
$normal:400;
$bold:600;

// FONT UTILITIES
$sans-serif: $source;

// MEASUREMENTS //////////////////////////////////////////////////////////////////////
$mobile-top:56px;
$radius:6px;
$mobile-max: 767px;
$desktop-min: 768px;


// KEYFRAMES /////////////////////////////////////////////////////////////////////////
/*
@keyframes pull-focus {
  0%   { color:$white; }
  44%  { color:$white; }
  60%  { color:$white }
  66%  { color: $yellow; }
  88%  { color: $white; }
  100% { color:$white; }
}
*/

@keyframes pull-focus {
  0%   { transform:translateY(0); }
  60%  { transform:translateY(0); }
  63%  { transform:translateY(2px); }
  68%  { transform:translateY(-6px); }
  73%  { transform:translateY(2px); }
  75%  { transform:translateY(0); }
  100% { transform:translateY(0); }
}