footer { @include position(fixed,null,0,0,$offset); height: $offset; z-index: 4; background-color:#f2eece; color:$black; font-family:$font; line-height:100%;
  //iframe { width:100%; height: $offset; }
  .box { @extend %vertical-center; }
  a { color:$red; text-decoration: none;
    &:hover { text-decoration: underline; }
  }
  @include flex-container();
  .logo-box { @include flex-item(200px); order:3 }
  
  
  .grid { @include flex-item(calc(100% - 200px)); order: 1; @include flex-container(); color:$black;
    .box { padding-left: 1em; padding-right: 1em;  }
  }
  
  .hour-box { text-align: center; font-size:130%; @include flex-item(30%);
    .number { font-size:380%; font-weight: $bold; line-height: 80%; }
  }
  .doc-box { @include flex-item(35%);
    .doc { font-weight: $bold; font-size:120%;}
  }
  
  .label { font-size:80%; }
  .name  { font-size:120%; font-weight: $bold; }
  
  .artist, .provider { margin-top: 1em; }
  
  .participant-box { @include flex-item(35%);
    .readers {
      span { display: inline-block; margin-right:0.05em;
        &:before, &:after { font-size:80%; font-weight: $light; }
        &:after { content:", "; font-weight: $light;  }
        &:last-child { 
          &:before { content: " and "}
          &:after { content:'' }
        }
      }
    }
  }
  .donation-total-box { @include flex-item(30%); text-align: center;
    .dollars { font-size:220%; font-weight: $bold; line-height: 120%; }
  }
  .recent-donation { @include flex-item(35%);
    .donation { margin-top: 0.5em;
      span, time { font-weight: $bold; }
    }
    blockquote { font-style:italic;  margin-top: 0.5em; margin-left: 0.5em;
      &:before { content:'“'; }
      &:after { content:'”'; }
    }
  }
  
  .donation-button { @include flex-item(35%); text-align: center; 
    .button { padding:1em 2em;}
  }
 
  
  &.shorter { height: 140px; }
  
}